<html>
  <head>
    <title>LQD-STOCK Update Page</title>
    <link rel="stylesheet" href="/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="index.css" />

  </head>
  <body>
    <h1>LqD Stock Info Page</h1>
    <hr />
    <input type="checkbox" name="autorefresh" id="autorefresh" onchange="toggleRefresh()" /> </input>
    <label for="autorefresh">Auto-refresh</label>
    <table id="stock-table-container">
      <thead>
      <tr>
        <th class="table-cell">
          #
        </th>

        <th class="table-cell">
          Stock
        </th>

        <th class="table-cell">
          First Date
        </th>

        <th class="table-cell">
          Last Date
        </th>

        <th class="table-cell">
          Return
        </th>

        <th class="table-cell">
          Max Drawdown
        </th>

        <th class="table-cell">
          Received
        </th>
      </tr>
      </thead>
      <tbody>
      <% data.each_with_index do |item, index| %>

      <tr class="table-row">
        <td class="table-cell">
          <%= index %>
        </td>

        <td class="table-cell">
          <%= item["stock"] %>
        </td>

        <td class="table-cell">
          <%= item["first_date"] %>
        </td>

        <td class="table-cell">
          <%= item["last_date"] %>
        </td>

        <td class="table-cell highlighted">
          <%= "%0.2f%%" % (item["return_value"] * 100) %>
        </td>

        <td class="table-cell highlighted">
          <%= "%0.2f%%" % (item["max_drawdown"] * 100) %>
        </td>

        <td class="table-cell">
          <%= item["timestamp"] %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
    <script language="javascript">
     const REFRESH_INTERVAL = 1000
     const DISABLE_REFRESH_KEY = "disable-auto-refresh"
     const refreshCheckbox = document.getElementById("autorefresh")

     function refreshCheck () {
       if (!window.sessionStorage.key(DISABLE_REFRESH_KEY)) {
         window.location.reload(true)
       }
     }

     function toggleRefresh() {
       refreshCheckbox.checked
          ? window.sessionStorage.clear(DISABLE_REFRESH_KEY)
          : window.sessionStorage[DISABLE_REFRESH_KEY] = "disabled!"
     }

     refreshCheckbox.checked = !window.sessionStorage.key(DISABLE_REFRESH_KEY)
     setInterval(refreshCheck, REFRESH_INTERVAL)

    </script>
  </body>
</html>
